.entrance-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entrance-input {
  text-align: center;
  height: 3rem;
  width: 20rem;
  font-size: 2rem;
}
